body, 
html, 
* {
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    background-image: url(img/Seal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    width: 30rem;
    height: 35rem;
    border: 2px solid black;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
    align-items: center;
    flex-direction: column;
    background-color: rgb(77, 82, 23, .7);
    box-shadow: 10px -8px rgba(31, 33, 7, 0.8);
}
#anim4{
    transition: all 1.5s;
}
#he1:hover{
    background-color:rgba(141, 150, 39, 0.7);
    border: 4px solid black;
    transition: 0.5s;}
#he2:hover{
    box-shadow: 20px 8px rgba(31, 33, 7, 0.8);
    transition: 0.5s;}
#he3:hover{
    background-color:rgba(108, 115, 23, 0.7);
    border: 4px solid black;  
    box-shadow: 15px 10px rgba(31, 33, 7, 0.252);
    transition: 0.5s;}
#he4:hover{
    background-color: rgba(228, 14, 14, 0.758);
    transition: 3s;
}
#he5:hover{
    background-color: rgba(255, 255, 255, 0.297);
    border: 10px solid rgba(141, 150, 39, 0.7);
    box-shadow: 2px 2px rgba(31, 33, 7, 0);
    transition: 3s;}
#he6:hover{
    width: 35rem;
    height: 40rem;
    box-shadow: 20px -16px rgba(31, 33, 7, 0.8);
    transition: all 2s;
}
.anim1{
    height: 2rem;
    width: 2rem;
    animation: test 4s infinite;
    position: absolute;
}
@keyframes test {
    0%{
        left: 0%;
        background-color: rgba(255, 255, 255, 0);
    }
    25%{
        left: 25%;
        background-color: red;
    }
    50%{
        left: 50%;
        background-color: green;
    }
    75%{
        left: 75%;
        background-color: blue;
    }
    90%{
        background-color: blue;
    }
    92%{
        background-color: rgb(255, 94, 0);
    }
    95%{
        background-color: red;
    }

    100%{
        left: 100%;
        background-color: rgba(255, 255, 255, 0);
    }
}
.container{
    display: flex;
    width: 60%;
    margin: 2rem auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 3px solid black;
    background-color: rgba(16, 88, 74, 0.397);

}
.card-img{
    width: 100%;
    height: 40%;
    object-fit: cover;
    flex-direction: column;
    align-items: center;
}
.card-header{
    font-size: 2.8rem;
    margin-top: 1.2rem;
}
.card-desc{
    margin-bottom: 1.2rem;
    font-size: 20px;
    text-align: center;
}
#mainh{
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 80px;
    color: rgb(18, 212, 173);
}
.mainheader{
    border: 4px solid black;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    justify-content: center;
    margin:auto;
    background-color: rgb(77, 82, 23, .7);
}